@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Hand Wide";
  src: url("../fonts/TheHandWideRegular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Hand Wide";
  src: url("../fonts/TheHandWideBlack.otf");
  font-weight: 500;
}

@font-face {
  font-family: "Hand Wide";
  src: url("../fonts/TheHandWideHeavy.otf");
  font-weight: 600;
}

@font-face {
  font-family: "Hand Wide";
  src: url("../fonts/TheHandWideUltra.otf");
  font-weight: 800;
}

#__next {
  min-height: 100%;
}

.text-lg {
  line-height: 30px;
}
